In [1]:
import pandas as pd
import numpy as np

import xgboost as xgb
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split

import lightgbm as ltb

import seaborn as sns

In [21]:
train_df = pd.read_csv("../Datasets/new_df.csv")
test_df = pd.read_csv("../Datasets/test.csv")
train_df["date"] = pd.to_datetime(train_df["date"])
train_df.head(4)

,Unnamed: 0,id,date,year_week,product_number,prod_category_1,prod_category_2,prod_category_3,prod_category_4,prod_category_5,prod_category_6,prod_category_7,specs,display_size,segment_1,segment_2,segment_3,setmana,sales_units,inventory_units
0,0,202119-6909,2021-05-15,202119,6909,1,0,0,0,0,0,0,1,13.3,1,0,0,19,2.0,35.0
1,1,202120-6909,2021-05-22,202120,6909,1,0,0,0,0,0,0,1,13.3,1,0,0,20,0.0,70.0
2,2,202121-6909,2021-05-29,202121,6909,1,0,0,0,0,0,0,1,13.3,1,0,0,21,3.0,137.0
3,3,202122-6909,2021-06-05,202122,6909,1,0,0,0,0,0,0,1,13.3,1,0,0,22,0.0,274.0

In [47]:
from datetime import datetime, date

def process(row):
    year = int(str(row)[:4])
    week = int(str(row)[4:])
    new_date = date.fromisocalendar(year, week, 1)
    return new_date

train_df['dt_year_week'] = train_df['year_week'].apply(process)

In [49]:
df_forecast = train_df.loc[:, ("dt_year_week", "product_number",  "inventory_units")]

In [53]:
df_forecast["dt_year_week"] = pd.to_datetime(df_forecast["dt_year_week"])

dt_year_week       datetime64[ns]
product_number              int64
inventory_units           float64
dtype: object

In [54]:
df = [x for _, x in df_forecast.groupby('product_number')]

In [64]:
df[0]

    dt_year_week  product_number  inventory_units
0     2021-05-10            6909             35.0
1     2021-05-17            6909             70.0
2     2021-05-24            6909            137.0
3     2021-05-31            6909            274.0
4     2021-06-07            6909            333.0
..           ...             ...              ...
96    2023-04-03            6909            109.0
97    2023-04-10            6909            159.0
98    2023-04-17            6909            113.0
99    2023-04-24            6909             90.0
100   2023-05-01            6909             88.0

[101 rows x 3 columns]

In [ ]:
from darts.datapreprocessing.transformers import Scaler
scaler_inventory_units = Scaler()
scaled_first = scaler_inventory_units

In [35]:
test_df["product_number"] = test_df["id"].apply(lambda x: x.split("-")[1]).astype("int64")